body {
    font-family: 'Courier New', Courier, monospace;
 
}
header {
    background-color: #8fcaca ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;  
    border-radius: 0em 1em 1em 1em;
    padding: 15px;
  }

.article {
    border: 1px solid;
    margin-top: 40px;
    padding: 20px;
    border-radius: 0em 1em 1em 1em;
    position: relative;
  }
p {
    text-align: center;
}
.button__center {
    text-align: center;
    padding: 5px 15px 5px 15px;
    margin-top: 5px;
    margin-bottom: 35px;
}

footer {
        background-color: #8fcaca;
        border-radius: 0em 1em 1em 1em;
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: 10px;
      } 
.footer {
    display: flex;
    justify-content: space-around;

}
.article__bookmark{
    padding: 6px 6px;
    position: absolute;
    right: 10px;
    top: -15px;
    background-color: white;
    border: none;
    cursor: pointer;
}
   
.footer__home {
    background-color: #8fcaca;
    border: none;
    color: black;
}
.footer__bookmark {
    background-color: #8fcaca;
    border: none;
    color: black;
}
.footer__profile {
    background-color: #8fcaca;
    border: none;
    color: black;
}